{% from "form_helper.html" import displayField %}

{% extends "layout.html" %}

{% block title%} Registration {% endblock %}


{% block content %}
    <h1 class="text-success text-center page-heading">Welcome to <span class="text-danger">T-Chat</span> </h1>
    <h3 class="text-primary text-center ">Get Started</h3>

    <form class="text-center border-light p-3" action="{{ url_for('index') }}", method="POST">
        <div class="form-inputs">
            {{ displayField(form.username, 'Username', autocomplete='off', autofocus=true) }}
            {{ displayField(form.password, 'Password') }}
            {{ displayField(form.confirm_pswd, 'Retype Password') }}
        </div>
        

        <div>
            {{ form.submit_button }}
        </div>

        {{ form.csrf_token }}

    </form>
    <p class="text-center">Have an account?
        <a href="login">Login</a>
    </p>
{% endblock %}